body{
    margin: 0;
    
    font-family: 'PT Sans';
    font-weight: 400;

    background: #14063D;
}

body, html {
    overflow-x: hidden;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
a{
    text-decoration: none;
}

/* Containers */
.container{
    width: 100%;
    height: auto;

    padding: 0 60px;
}

::-webkit-scrollbar{
    width: 0;
}

.cont{
    will-change: transform;
}
/* Header */
.header__inner{
    
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    color: #ffffff;

    margin-top: 16px;

    align-items: center;
}
.header__links a{
    text-decoration: none;
    color: #a9a7a7;
}
.headLink{
    margin-right: 40px;
}
.headLink:last-child{
    margin-right: 0;
}

.header__button-startPlay{
    width: 177px;
    height: 40px;

    color: #ffffff;
    display: flex;
    align-items: center;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    background-size: 400% 400%;
    background-position: 65% 75%;

    border-radius: 56px;

    cursor: pointer;
    z-index: 100;

    transition: background 1s linear;
}
.header__button-startPlay:hover{
    background-position: 20% 75%;
}

.logo{
    width: 95px;
    height: 45px;       
}
.logo--footer{
    width: 139px;
    height: 66px;
}

.startPlay__text{
    margin: 0 auto;
    z-index: 10;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

    transition: all 0.3s linear;
}

/* section:   h1 to video */
/* bestGame */
.bestGame__inner{
    margin-top: 75px;
    margin-bottom: 100px;
    
    position: relative;

    height: auto;
}
/* blur */
.blue__blur{
    width: 910px;
    height: 910px;

    position: absolute;
    top: -50%;
    right: -50%;

    background: #04C3FF;
    border-radius: 50%;
    filter: blur(300px);

    z-index: -1000;
}
.purple__blur{
    width: 1124px;
    height: 656px;

    position: absolute;
    top: 14%;
    left: -50%;

    background: #800BF5;
    border-radius: 25%;
    filter: blur(300px);

    z-index: -1000;
}



.bestGame__header-content{
    font-family: 'Russo One';
    font-weight: 400;
    font-size: 64px;

    color: #ffffff;
}
#bestGame__firstWord{
    color: #800BF5;
}

.bestGame__text{
    margin-top: 32px;

    font-family: 'PT Sans';
    font-size: 20px;
}

.planet{
    position: absolute;

    top: 35%;
    left: 60%;
    transform: translate(-50%, -50%);

    z-index: -100;
}
.blue__ghost{
    position: absolute;

    top: -36px;
    right: 0;

    z-index: 10;
}

/* header__input */
.header__input{
    margin-top: 110px;

    display: flex;

    position: relative;
}
.header__input-forblur{
    width: 100%;
    border-radius: 136px;
    backdrop-filter: blur(28px);
}
.orange__ghost{
    position: absolute;
    
    top: -80px;
    left: -60px;
    
    z-index: 10;
}
#header__input{
    text-decoration: none;
    
    font-size: 20px;
    color: #FFFFFF;
    padding: 35px 40px;
    
    opacity: 0.4;
    font-feature-settings: 'ss05' on;
    
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 136px;
    
    width: 100%;    
}
#header__input::placeholder{
    color: #FFFFFF;
    opacity: 0.6;

    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.button__go-forblur{
    width: 96px;
    height: 96px;
   
    backdrop-filter: blur(28px);    
    border-radius: 50%;
    
}
.button__go{
    width: 100%;
    height: 100%;

    border-radius: 50%;

    opacity: 0.4;
    font-feature-settings: 'ss05' on;
    background: rgba(255, 255, 255, 0.2);
    
    position: relative;
    
    cursor: pointer;
}
.button__go:hover{
    border: 3px #8b8b8b solid;
}
.button__go:hover .go__nextSign{
    opacity: .8;
}
.go__nextSign{
    display: block;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%);

    width: 20px;
    height: 20px;

    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    
    transform: rotate(45deg);
}


/* cards */
.cards{
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
    column-gap: 24px;

    overflow-x: scroll;
    flex-wrap: nowrap;
}
.card__img{
    width: 312px;
    height: 200px;

    border-radius: 24px;
}
.card__content{
    margin-top: 24px;
    margin-bottom: 8px;

    max-width: 280px;
}
.card__header{
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}
.card__text{
    font-size: 16px;

    width: 80%;
    color: #FFFFFF;
    opacity: 0.4;
}

/* video */
.video{
    display: block;
    position: relative;
    /* margin: 0 140px; //in js */
    max-width: 100%;
}   
#video{
    width: 100%;
    height: auto;    
    will-change: margin;  
    
    border-radius: 8px;
}

.purple__blur--video{
    width: 1000px;
    height: 400px;

    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
}

/* steps */
.steps{
    padding-top: 100px;
}
.steps__inner{
    position: relative;

    color: #ffffff;

    height: 1900px;
    width: auto;
    
}
.steps__header{
    position: relative;
}
.grey__button{
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    text-transform: uppercase;
    font-weight: 700;
    font-weight: 14px;
    color: #ffffff;
    opacity: 0.6;

    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 48px;

    cursor: pointer;

    z-index: 100;

    transition: all .5s linear;
}
.grey__button:hover{
    background: rgba(255, 255, 255, 0.2);
}
.steps__text{
    width: 750px;

    font-family: 'Russo One';
    font-size: 40px;    
    margin: 0 auto;
}

.container__circls{
    height: auto;
}


/* SpaceMans */
.spaceMan{
    position: absolute;
    width: 336px;
    height: 348px;


    z-index: 10;
}
.spaceMan--first{
    top: 430px;
    left: -500px;
    opacity: 0;

    transition: opacity 1s linear;  
}
.animSp1Right{
    animation: animSpMan1Right 1s cubic-bezier(0.65, 0.05, 0.36, 1) normal forwards;
}
@keyframes animSpMan1Right {
    0%{
        left: -500px;
        opacity: 0;
    }
    100%{
        left: 65px;
        opacity: 1;
    }
}
.animaSp1Left{
    animation: animSpMan1Left 1s cubic-bezier(0.65, 0.05, 0.36, 1) normal forwards;
}
@keyframes animSpMan1Left {
    0%{
        left: 65px;
        opacity: 1;
    }
    100%{
        left: -500px;
        opacity: 0;
    }
}

.spaceMan--second{
    top: 1200px;
    /* right: 0%;   */
    opacity: 0;

    transition: opacity 1s linear;

    z-index: -10;
}
.animSp2Right{
    animation: animSpMan2Right 1s cubic-bezier(0.65, 0.05, 0.36, 1) normal forwards;
}
@keyframes animSpMan2Right {
    0%{
        /* left: 1600px; */
        right: -150%;
        opacity: 0;
    }
    100%{
        /* left: 1100px; */
        right: 0%;
        opacity: 1;
    }
}
.animaSp2Left{
    animation: animSpMan2Left 1s cubic-bezier(0.65, 0.05, 0.36, 1) normal forwards;
}
@keyframes animSpMan2Left {
    0%{
        left: 1100px;
        opacity: 1;
    }
    100%{
        left: 1600px;
        opacity: 0;
    }
}


.spaceMan1__blur{
    width: 297px;
    height: 174px;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    filter: blur(110px);
    transform: rotate(24.94deg);

    position: absolute;
    top: 30%;
    left: 0;

    z-index: -1;
}

.spaceMan2__blur{
    width: 1440px;
    height: 554px;

    background: #800BF5;
    filter: blur(100px);

    position: absolute;
    top: 0;
    left: -50%;

    z-index: -1;
    border-radius: 50%;
}

.circl__inner{
    position: absolute;
    
    width: 424px;
    height: 424px;
    
    background: transparent;

    border-radius: 50%;

    z-index: 1000;
    overflow:hidden;

    opacity: 0;
    transition: opacity 1s linear;
}
.circl__inner-withStar{
    position: absolute;
    
    width: 424px;
    height: 424px;
    
    background: transparent;

    border-radius: 50%;

    z-index: 1000;
    overflow:hidden;

}

.circl{
    width: 100%;
    width: 100%;
}


/* Steps (CIRCLS) */
.circl--first{
    top: 45px;
    left: 25%;
}
.circl--second{
    top: 514px;
    left: 48%;
}
.circl--third{
    top: 900px;
    left: 15%;
}



.circl__text{
    position: absolute;
    top: 180px;
    left: 5px;

    width: 312px;

    color: #ffffff;
    font-size: 20px;
}
.circl__number{
    position: absolute;
    top: 315px;
    left: 140px;

    color: #14063D;
    z-index: 100;

    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
}
.circl__blur{
    position: absolute;

    top: 250px;
    left: 35%;

    width: 438px;
    height: 438px;

    background: #800BF5;
    opacity: 0.4;

    filter: blur(100px);
}

/* Steps (LINES) */
#line__1{
    position: absolute;
    top: 377px;
    left: 55%;
}
#line__2{
    position: absolute;
    top: 700px;
    left: 30%;
}
#line__3{
    position: absolute;
    top: 1050px;
    left: 48%;
}
#line__4{
    position: absolute;
    top: 1350px;
    left: 44%;
}


.steps__footer{
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}


.circl__startGame{
    width: 280px;
    height: 280px;

    position: absolute;
    top: 1200px;
    left: 54%;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    background-size: 200%;
    border-radius: 50%;
    
    cursor: pointer;
    z-index: 100;

    animation: circl__startGame 2s infinite linear;
}
@keyframes circl__startGame {
    0%{
        background-position: 80% 0;
    }
    50%{
        background-position: 20% 100%;
    }
    100%{
        background-position: 80% 0;
    }
}

.circl__startGame-text{
    color: #FFFFFF;
    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.android{
    position: absolute;
    top: 1430px;
    left: 30%;

    display: flex;
    column-gap: 16px;
}
.robot__circl{  
    width: 48px;
    height: 48px;

    background: #800BF5;
    border-radius: 50%;

    position: relative;

    cursor: pointer;
}
#robot{
    width: 22px;
    height: 13px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.android__text{
    width: 162px;

    font-size: 20px;
    color: #FFFFFF;
}

/* BIG SLIDER */
.bigslider__inner{
    margin-bottom: 145px;

    z-index: 100;
}
.slider__container{
    position: relative;
}
.js__previus-region{
    position: absolute;
    top: 0;
    left: -60px;

    width: 20%;
    height: 100%;

    background: transparent;
    cursor: pointer;

    z-index: 100;
}
.js__next-region{
    position: absolute;
    top: 0;
    right: -60px;

    width: 20%;
    height: 100%;

    background: transparent;
    cursor: pointer;

    z-index: 100;
}

.bigslider__container{
    width: 100%;

    margin: 64px 0 48px 0;

    height: 532px;

    display: flex;
    flex-wrap: nowrap;

    column-gap: 24px;
}
.bigslider__item{
    width: 1208px;
    height: 532px;

    border-radius: 24px;
}


/* what Slid */
.whatSlider{
    display: flex;
    column-gap: 24px;
}
.whatSlider__item{
    width: 25%;
    max-height: 106px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.bigslider__container{
    z-index: 1001;
}


.js__blockForActive--active{
    display: block;
    position: absolute;

    height: 3px;
    background: rgb(255, 255, 255);
}
@keyframes whatSlActive {
    0%{
        top: -3px;
        left: 0;
        width: 0;
    }
    100%{
        top: -3px;
        left: 0;
        width: 100%;
    }
}


.whatSlider__content{
    display: flex;
    justify-content: space-between;

    padding-top: 17px;
}
.whatSlider__header{
    margin: 16px 0;

    font-weight: 700;
    font-size: 20px;

    color: #FFFFFF;
}
.whatSlider__text{
    font-size: 16px;
    color: #FFFFFF;

    opacity: 0.4;

    margin-top: 8px;
}
.whatSlider__photo{
    width: 80px;
    height: 80px;

    border-radius: 50%;
}


/* Many slides */
.manySlides__inner{
    display: flex;
    flex-direction: column;

    row-gap: 100px;

    position: relative;
}
.manySlides__blur{
    position: absolute;
    width: 874px;
    height: 790px;

    top: 30%;
    right: -400px;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    filter: blur(300px);
}
.manySlides__column{
    display: flex;
    flex-direction: column;

    row-gap: 40px;
}

.column__header{
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.column__name{
    font-family: 'Russo One';
    font-size: 40px;
    color: #ffffff;
}
.column__buttons{
    display: flex; 

    column-gap: 8px;
}


.column__botton{
    position: relative;
    cursor: pointer;
}
.column__botton:hover .circle__sign{
    opacity: 0.5;
}

.buttons__reviews{
    position: absolute;

    bottom: 64px;
    left: 120px;
}


.circle{
    width: 60px;
    height: 60px;
}
.circle__sign{
    position: absolute;
    top: 40%;
    
    width: 12px;
    height: 12px;
    
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    
}
.circle__sign.circle__sign--previus{
    right: 40%;
    transform: rotate(-135deg);
}

.circle__sign.circle__sign--next{
    left: 40%;
    transform: rotate(45deg);
}

.column__content{
    position: relative;
    height: 200px;
}
.column__inner{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    
    column-gap: 24px;
}
.content__item{
    width: 312px;
    height: 200px;
    position: relative;
}
.content__img{
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 24px;
}


/* version */
.star{
    position: relative;
    z-index: 100;
    animation: starRotate 6s ease infinite normal running none;
}
.yellow__star{
    position: absolute;
    top: 0;
    left: 50%;
    
    transform: translate(-50%);
}
.star-first{
    filter: drop-shadow(0px 0px 27.5838px #FFD359);
}
.star-second{
    filter: drop-shadow(0px 0px 59.1082px #FFD359);
    
    border: 10px solid transparent;
    animation: starInfinity 8s linear infinite normal running none;
}

@keyframes starInfinity {
    0%{
        filter: blur(15px);
    }
    50% {
        filter: blur(100px);
    }
    100%{
        filter: blur(15px);
    }
}
@keyframes starRotate {
    0%{
    }
    50% {
        transform: rotate(20deg);
    }
    100%{
    }
}

.version__inner{
    position: relative;

    margin: 150px 0;
}

.balls__container{
    padding-top: 165px;

    display: flex;

    justify-content: space-around;
}
.big__ball{
    width: auto;
    height: auto;
}
.purple__ball{
    width: 536px;
    height: 536px;
    
    border-radius: 50%;
    background: #800BF5;
    
    position: relative;
}
.tree{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
}
.tree--first{
    filter: drop-shadow(0px 0px 59.6615px #25C6F9);
}
.tree--second {
    filter: drop-shadow(0px 0px 127.846px #39B44A);
}
.tree--blur{
    filter: blur(15px);   
}

.small__ball{
    width: 450px;
    position: relative;
}
.circl__version{
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    width: 448px;
    height: 448px;
}
.version__header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

    width: 100%;
    text-align: center;

    font-family: 'Russo One';
    font-size: 40px;

    z-index: 100;
}
.version__content{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;

    width: 100%;
    text-align: center;

    font-size: 20px;

    display: flex;
    flex-direction: column;

    z-index: 10;
}
.text--gray{
    opacity: .6;
}

/* steps Second */
.stepsSecond{
    display: flex;
    flex-direction: column;

    row-gap: 64px;
}
.stepsSexond__column{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    position: relative;
}
.cubic{
    position: absolute;
    top: 0;
    left: 46%;
    filter: blur(5px);
}

.column__rowFirst{
    position: relative;

    width: 50%;

    z-index: 10;
}
.column__rowSecond{
    position: relative;

    width: 640px;
    height: 640px;

    background: #14063D;
    border-radius: 24px;

    z-index: 10;

    overflow: hidden;
}

.row__number{
    font-family: 'Russo One';
    font-size: 120px;
    color: rgba(255, 255, 255, 0.2);

    padding-top: 92px;
}
.row__header{
    font-family: 'Russo One';
    font-size: 40px;
    color: #ffffff;

    margin-top: 96px;
}
.words__blue{
    color: rgba(73, 203, 244, 1);
}
.row__text{
    margin-top: 24px;

    font-size: 20px;
    color: #ffffff;
    opacity: .4;
}
.mt-24{
    margin-top: 24px;
}
.rowFirst__blur{
    width: 820px;
    height: 640px;

    position: absolute;
    top: 0;
    left: -60%;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);

    filter: blur(300px);

    z-index: -10;
}


.rowSecond__blur-top{
    width: 360px;
    height: 320px;

    position: absolute;
    top: -25%;
    left: -25%;

    background: #800BF5;
    filter: blur(150px);
    border-radius: 50%;
}
.blur-top--blue{
    width: 502px;
    height: 452px;

    top: -15%;
    left: -15%;

    background: #49CBF4;
    filter: blur(150px);
}
.blur-top--bigPurpl{
    width: 746px;
    height: 672px;

    top: -30%;
    left: -30%;

    background: #800BF5;
    opacity: 0.6;
    filter: blur(150px);
    
    z-index: -1;
}
.rowSecond__blur-bottomr{
    position: absolute;
    top: 60%;
    left: 60%;

    width: 611px;
    height: 551px;

    background: #00C2FF;
    opacity: 0.7;
    filter: blur(150px);

    z-index: -1;
}


.rowSecond__blur-middle{
    width: 874px;
    height: 640px;

    position: absolute;
    top: 0;
    left: 70%;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    filter: blur(300px);
}

.rowSecond__firstColumn{
    margin: 175px 60px;

    position: relative;
    z-index: 1000;
}

#TV{
    position: absolute;

    top: 0;
    right: -500px;

    opacity: 0;
    transition: all 1.3s linear;

    z-index: 1000;
}
#Laptop{
    position: absolute;

    top: 40px;
    left: -450px;

    z-index: 1001;

    opacity: 0;
    transition: all 1.2s linear;
}

#HandwithPhono{
    position: absolute;
    bottom: 0;
    right: -20px;

    z-index: 1000;

    animation: handAndphono 3s infinite linear;
}
@keyframes handAndphono {
    0%{
        rotate: 0;
    }
    25%{
        rotate: 2deg;
    }
    50%{
        rotate: 4deg;
    }
    75%{
        rotate: 2deg;
    }
    100%{
        rotate: 0;
    }
}

.rowSecond__thirdColumn{
    margin: 0 60px;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

}


.sliderUpDown__container{
    position: relative;

    width: 640px;
    height: 640px;

    background: #14063D;
    border-radius: 24px;

    z-index: 10;

    overflow: hidden;
}

.thirdColumn__row{
    position: relative;
}

.row__img{
    width: 243px;
    height: 156px;  
    
    border-radius: 24px;
    
    margin-top: 18px;
}

.stepsSecond__reviews{
    margin-top: 130px;

    height: 470px;
    position: relative;
}
.reviews__box{
    width: 100%;
    height: 466px;
    
    background: radial-gradient(97.45% 104.97% at 6.67% -4.97%, #800BF5 0%, rgba(128, 11, 245, 0.22822) 46.56%, rgba(128, 11, 245, 0.0799674) 63.12%, rgba(128, 11, 245, 0.0319667) 73.24%, rgba(128, 11, 245, 0) 85.56%);
    backdrop-filter: blur(30px);
    border-radius: 24px;
    
    position: relative;
}
.reviews__item{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    transition: opacity 1s linear;
    opacity: 0;
}

.reviews__dots{
    position: absolute;
    top: 66px;
    left: 65px;
}
.reviews__content{
    padding: 56px 120px 0 120px;

    display: flex;
    justify-content: space-between;
}
.reviews__text{
    width: 680px;

    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}
.reviews__person{
    padding-top: 20px;
}
.person__name{
    font-size: 20px;
    color: #ffffff;
}
.person__photo{
    margin-top: 16px;

    width: 64px;
    height: 64px;

    background: #800BF5;
    border-radius: 50%;
}
.purple__ball--half{
    width: 300px;
    height: 300px;

    position: absolute;
    bottom: -250px;
    right: -230px;

    background: #ef52c7;
    filter: blur(26px);

    border-radius: 50%;
}

/* FAG */
.fag__inner{
    position: relative;
}
.fag__buttons{
    display: flex;
    flex-direction: column;

    row-gap: 16px;

    margin-top: 50px;
    padding-top: 90px;

    margin-right: 200px;

    position: relative;
}
.button__item{
    display: flex;
    cursor: pointer;
}

.blue__button{
    width: 100%;
    height: 96px;
    
    background: linear-gradient(90deg, #00C2FF 0%, rgba(73, 203, 244, 0) 100%);
    backdrop-filter: blur(28px);
    
    border-radius: 56px;

    position: relative;
}
.for__background{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 96px;
    border-radius: 56px;

    background: #49CBF4;
    backdrop-filter: blur(28px);

    opacity: 0;
    transition: opacity 1.5s linear;
}
.button__item:hover .for__background{
    opacity: 1;
}
.text__button{
    position: absolute;
    top: 36px;
    left: 48px;

    font-weight: 700;
    font-size: 20px;
    color: #14063D;

    z-index: 10;
}

.blue__plus{
    width: 104px;
    height: 96px;

    background: #49CBF4;
    backdrop-filter: blur(28px);
    border-radius: 136px;

    position: relative;
}
.plus__item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 17px;

    border-top: 1px solid #14063D;
}
.plus__item.plus__horizontally{
    left: 41%;
    transform: rotate(90deg);

    cursor: pointer;
}

.grey__button--fag-bottom{
    margin-top: 110px;
    
    top: 100%;
    left: 0;
}

.fag__blur{
    position: absolute;
    bottom: 0;
    right: -25%;

    width: 820px;
    height: 640px;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    filter: blur(300px);
    transform: matrix(-1, 0, 0, 1, 0, 0);

    z-index: -1;
}

/* partners */
.partners{
    width: 100%;
    display: flex;

    margin: 250px auto 215px auto;

    justify-content: space-between;
}
.partners__item{
    margin: 0 5%;
}

/* FOTER */
.footer__container{
    position: relative;

}
.footer__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 315px;
    padding-bottom: 24px;

    z-index: 100;

    padding: 70px 60px 24px 60px;
    background: #14063D;
}
.moon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-48%);
    z-index: -10;
}
.moon__blur{
    width: 100%;
    height: auto;
    position: relative;
    z-index: -20;
}
.blur__forMoon{
    position: absolute;
    top: 0;
    left: 25%;

    width: 820px;
    height: 320px;

    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
    filter: blur(300px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer__row{
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    width: auto;
}
.footer__row--first{
    max-width: 200px;
    margin-top: -25px;
}
.footer__row-bottom--text a{
    font-weight: 600;
    font-size: 18px;

    color: #FFFFFF;

    cursor: pointer;
}


.footer__row--second-header{
    display: flex;
    justify-content: space-between;
}
.footer__row--second-header__item{
    font-weight: 700;
    font-size: 20px;

    color: #FFFFFF;
}
.footer__row--second-header__item:hover{
    opacity: 0.5;
}
.footer__row--second-content__item{
    position: relative;

    z-index: 10;
}


.footer__row--second-content__item:hover .footer__row--second__row{
    border-radius: 27px;
    background: linear-gradient(90deg, #800BF5 26.67%, #25C6F9 97.33%);
}

.support__service--text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 140px;

    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
}
.footer__row--second-content{
    display: flex;
    column-gap: 10px;
    margin: 0 auto;
}

.content__item--sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 100;
}

.footer__row--third{
    max-width: 200px;
}
.footer__row--third-header{
    font-weight: 700;
    font-size: 20px;

    color: #49CBF4;
}
.third__content-header{
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
}
.third__content-text{
    font-weight: 400;
    font-size: 16px;

    color: #FFFFFF;
    opacity: 0.4;
}


/* MEDIA */
/* 1230 */
@media (max-width: 1230px){

}
/* //1230 */

/* 990 */
@media (max-width: 990px) {
    .container{
        padding: 0 40px;
    }
    .header__input{
        margin-top: 320px;
    }

    .planet{
        top: 50%
    }
    .purple__blur{
        top: 14%;
        left: -70%;
    }

    .orange__ghost{
        top: -90px;
        left: -40px;
    }
}
/* //990 */

/* 770 */
@media (max-width: 790px) {
    .blue__blur{
        top: -40%;
        right: -85%;
    }
    .purple__blur{
        top: 14%;
        left: -90%;
    }

}
/* //770 */

/* 550 */
@media (max-width: 550px) {

}
/* //550 */